/* WatchLaterList.css */

.watch-later-list {
  margin-top: 20px;
  padding: 20px;
  border: 1px solid #444;
  border-radius: 12px;
  background-color: #1f1f1f;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  color: white;
}

.watch-later-list h2 {
  font-size: 18px;
  margin-bottom: 10px;
  color: #e50914;
}

.watch-later-list ul {
  list-style: none;
  padding: 0;
}

.watch-later-list li {
  font-size: 16px;
  margin-bottom: 10px;
  padding: 10px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 5px;
  transition: background-color 0.3s ease;

}


.watch-later-list li:hover {
  background-color: rgba(255, 255, 255, 0.2);
}
